*.bed
*.gz
*.Rdata
*.tar
*.csv
*.tsv
*.txt
*.tab
*.xls
*.xlsx
*.mtx
*SRX*
*ERX*
*DRX*
*.pdf
.vscode/*

analysis/accessory_data/*
analysis/Dan_rough_draft/*
analysis/results/*

quantification/*
cellbender_background_removal/*

.Rproj.user
.Rhistory

.DS_Store
Meetings/*

manuscript/* 
