*.bed
*.gz
*.Rdata
*.tar
*.csv
*.tsv
*.txt
*.tab
*.xls
*.xlsx
*.mtx
*SRX*
*ERX*
*DRX*
*.pdf
.vscode/*

analysis/accessory_data/*
analysis/Dan_rough_draft/*
analysis/results/*

quantification/*
cellbender_background_removal/*

.Rproj.user
.Rhistory

.DS_Store
Meetings/*

manuscript/* 

analysis/.Rprofile

CrebA_ChIP_Analysis/input/*
CrebA_ChIP_Analysis/output/*
CrebA_ChIP_Analysis/workflow/.snakemake/*

CrebA_ChIP_Analysis/output_old/*
CrebA_ChIP_Analysis/output_old2/*
CrebA_ChIP_Analysis/output_old3/*
CrebA_ChIP_Analysis/output_old4/*
CrebA_ChIP_Analysis/workflow/Snakefile_old/*

CrebA_ChIP_Analysis/output_*/*
